<template name="layout">

  <head>
    <title>Groovents</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>

    {{#ionBody}}

        {{> ionNavBar class="bar-positive"}}
        {{#ionNavView}}
          {{> yield}}
        {{/ionNavView}}

      {{> tabs}}

    {{/ionBody}}
</template>


<template name="tabs">
      {{#ionTabs style="ios"}}
        {{> ionTab title="Open Events" path="events" iconOff="ios-calendar-outline" iconOn="ios-calendar" class="tab-item-positive"}}
        {{> ionTab title="New Events" path="newEvent" iconOff="ios-plus-outline" iconOn="ios-plus" class="tab-item-positive"}}
        {{> ionTab title="Profile" path="profile" iconOff="ios-person-outline" iconOn="ios-person" class="tab-item-positive"}}
        {{> ionTab title="Receipts" path="receipt" iconOff="ios-list-outline" iconOn="ios-list" class="tab-item-positive"}}
      {{/ionTabs}}
</template>