<template name="event">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="events" text="Back"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Groovent Details</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="padding"}}
      {{#with event}}

        <div class="list card">

          <div class="item item-avatar">

            {{#if this.avatar}}
              <img src="{{this.avatar}}">
            {{else}}
              <img src="/images/default-profile.jpg">
            {{/if}}

            <h2>{{title.main}}</h2>
            <h3>- organized by {{this.username}}</h3>
            <span class="badge badge-calm">{{attendees.length}}</span>
            <p><b>Current People: {{attendees.length}} </b> </p>
            <p>Max Cost Per Person: ${{costpp price.total people.minimum}}</p>
            <p>Date: {{prettyDate date.day}} | {{date.time}}</p>
            <p>Minimum People: {{people.minimum}}</p>
            <p>Max People: {{people.total}}</p>
          </div>

          <div class="item item-body">
            <!-- <img class="full-image" src="http://placehold.it/300x200"> -->
            <img class="full-image" src="/images/junk_boat_1.jpg">
            <!-- <img class="full-image" src="/images/junk_boat_2.jpg"> -->
            <!-- <img class="full-image" src="/images/junk_boat_3.jpg"> -->
            <!-- <img class="full-image" src="/images/junk_boat_4.jpg"> -->

            <p>
              {{details.description}}
            </p>
            <p>
              <a href="#" class="subdued">{{location.address}}</a> |
              <a href="#" class="subdued">{{location.district}}</a>
            </p>
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
          {{#if user this._id}}
            <a class="tab-item" href="#">
              <i class="icon ion-checkmark-circled"></i>
              Confirmed
            </a>
          {{else}}
            <a class="tab-item join-button" href="#">
              <i class="icon ion-checkmark-circled" data-ion-modal="payModal"></i>
              Join
            </a>
          {{/if}}
            <a class="tab-item" href="http://twitter.com/intent/tweet?text={{title.main}}%20at%20{{price.total}}&url={{ currentURL }}&via=MasterCard" target="_blank">
              <i class="icon ion-share"></i>
              Share
            </a>
          </div>
        </div>

        <div class="map-container">
          {{> googleMap name="exampleMap" options=exampleMapOptions}}
        </div>
      {{/with}}
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="payModal">
  {{#ionModal customTemplate=true}}
      <div class="bar bar-header bar-stable">
        <button data-dismiss="modal" type="button" class="button button-clear">Cancel</button>
        <h2 class="title">Join</h2>
        <button type="submit" class="submit-payment button button-positive button-clear">Confirm Payment</button>
      </div>



    {{#ionContent class="padding"}}
<!--       {{#with event}} -->

        <div class="list card">

          <div class="item item-avatar">
            <h2>Confirm details:</h2>
            <p>sub-total: $300 </p>
            <p>Date: asdfsdf</p>
            <p>Atendees: 12</p>
            <p> </p>
            <!-- <span class="badge badge-calm">asdfsd</span> -->
          </div>


          <div class="item item-avatar">

          <h2>Payment method:</h2>
          <p><i class="icon ion-checkmark-circled"></i> Alias: 91510121</p>
          <p></p>
          <img style="width:40%; margin-bottom:15px" src="/images/mastercard.jpg">
          <br>
          <button class="submit-payment button button-positive button-outline button-small">
          Submit Payment
          </button>

          </div>
        </div>

        <div class="map-container">
          {{> googleMap name="exampleMap" options=exampleMapOptions}}
        </div>
    <!--   {{/with}} -->
    {{/ionContent}}






  {{/ionModal}}
</template>