<template name="profile">

  {{#contentFor "headerTitle"}}
    <h1 class="title">Profile</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
    <div class="card">
      <div class="center item item-text-wrap">
        {{>loginButtons}}
      </div>
    </div>
      {{#if currentUser}}
        <img class="master-pass-logo" src="/images/money-send.png">
        <!-- <img class="master-pass-logo" src="/images/credit-card.png"> -->
        <form role="form">
          <div class="list">
            <label class="item item-input item-stacked-label">
              <span class="input-label">Credit Card Number</span>
              <input type="text" id="enteredCardNo" name="enteredCardNo" placeholder="**** **** **** ****">
            </label>
          </div>
          <div class="padding">
            <button class="button button-block button-positive" type="submit">Save Card Number</button>
          </div>
        </form>
      {{/if}}
    {{/ionContent}}
  {{/ionView}}
</template>